:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-gray: #f5f5f5;
  --foreground-gray: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--foreground);
  width: 300px;
  background-color: var(--background);
  color: var(--foreground);
}

input:focus {
  outline: none;
  border-color: var(--foreground);
}

input::placeholder {
  color: var(--foreground);
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}